body {
    background-color: #EEEED2; 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; /* Full viewport height */
}

h1 {
    text-align: center;
    font-family: "Akaya Kanadaka";
    font-size: 64px;
    margin-top: 20px;
}

.akaya-kanadaka-regular {
    font-family: "Akaya Kanadaka", system-ui;
    font-weight: 400;
    font-style: normal;
}

.button1 {
    color: white;
    background-color: #769656;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 256px;
    height: 70px;
    font-size: 36px;
    font-family: "Akaya Kanadaka";
    cursor: pointer;
    margin: 10px 0;
}

.button2 {
    color: white;
    background-color: #769656;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 287px;
    height: 70px;
    font-size: 36px;
    font-family: "Akaya Kanadaka";
    cursor: pointer;
    margin: 10px 0;
}

.button3 {
    color: white;
    background-color: #769656;
    border-radius: 15px;
    border: none;
    outline: none;
    width: 210px;
    height: 35px;
    font-size: 25px;
    font-family: "Akaya Kanadaka";
    cursor: pointer;
    margin: 10px 0;
}

.chessboard-controls {
    margin-top: 20px;
    text-align: center;
}

#chessboard {
    display: grid;
    gap: 1px;
    margin-top: 20px;
}

.cell {
    width: 50px;
    height: 50px;
}

.white {
    background-color: #FFFCFC;
}

.black {
    background-color: #000000;
}

.text1 {
    font-family: "Akaya Kanadaka";
    font-size: 25px;
}